*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Backgrounds
 */

.primary-bg {
    background: rgb(20, 47, 105);
}

.primary-bg-hovered:hover {
    background: rgb(22, 62, 148);
}

.secondary-bg {
    background: rgb(35, 163, 248);
}

.secondary-bg-hovered:hover {
    background: rgba(35, 163, 248, 0.8);
}

.neutral-bg {
    background: #fff;
}

/*
 * Buttons, links, and inputs
 */

button, a, input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

button, a {
    cursor: pointer;
}

.site-btn {
    display: flex;
    align-items: center;
    padding: 0.6em 1em;
}

.site-btn:hover {
    cursor: pointer;
}

/*
 * Navigation lists
 */

ul {
    list-style: none;
}

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@400;700&display=swap');

/* set website default font family and color */
body {
    font-family: 'Sulphur Point', sans-serif;
    color: #fff;
    white-space: nowrap;
}

/*
 * Effects
 */

.hide {
    display: none;
}

.fade-out {
    animation: 350ms fadeout;
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

.rounded-corners {
    border-radius: 5px;
}

.shrink-on-click:active {
    transform: scale(0.8);
}

/*
 * Containers
 */

.left,
.right {
    display: flex;
    align-items: center;
}

/*
 * Page header
 */

.primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
    font-size: 0.9em;
}

.primary-header .left i {
    font-size: 1.8em;
}

h1 {
    margin-left: 0.5em;
    font-size: 2.5em;
}

#profile-pic {
    height: 20px;
    width: 20px;
    background-size: cover;
    border-radius: 50%;
}

#user-name {
    margin: 0 1.2em 0 0.5em;
}

#hamburger-logo {
    margin-left: 0.5em;
    font-size: 1.5em;
}

/*
 * Main page area
 */

main {
    height: 100vh;
    display: flex;
}

/*
 * Side bar
 */

#side-bar {
    flex-basis: 280px;
    padding: 2em 1em;
    overflow-y: scroll;
    font-size: 1.1em;
}

/* container for projects heading and list of projects in side bar */
.projects {
    margin-top: 2em;
}

/* h2 element for list of projects */
.projects h2 {
    margin-bottom: 0.5em;
    color: #000;
    font-weight: 700;
    font-size: 1.3em;
}

/* shrinks all icons in side bar */
#side-bar i {
    font-size: 0.7em;
}

/* spacing between first icon and heading of every button in side bar */
#side-bar .site-btn {
    gap: 0.7em;
}

/* adds spacing below every clickable button in side bar */
#side-bar li {
    margin-bottom: 0.7em;
}

/* creates ease-out effect when projects are deleted from side bar */
#projects li {
    transition: opacity 0.3s;
}

/* move trash icon all the way to the right of container */
.delete-project {
    margin-left: auto;
    transition: transform 0.3s;
}

.delete-project:hover {
    color: rgb(177, 2, 2);
    transform: scale(1.2);
}

/* use 3 selectors to counter gap property defined on site buttons in 
side-bar */
#side-bar div#add-project-input {
    gap: 0.5em;
    padding-right: 0.7em;
}

#add-project-container {
    width: 100%;
}

/* input element within container to add new project */
#add-project-input input {
    flex-grow: 1;
    font-size: 0.9em;
}

/* validation and cancel buttons to add new projects */
#add-project-input button {
    padding: 0;
}

/*
 * Content area
 */

#content-area {
    max-width: 1000px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 1.5em;
    overflow: auto;
    background: url('../assets/images/background-logo.jpeg') center/50vh no-repeat;
}

/* header at the top of content area section */
#content-area > header {
    display: flex;
    justify-content: space-between;
}

/* applies uniform font size for icons and h2 elements in header of content
area */
#content-area h2,
#content-area header i {
    font-size: 2em;
}

/* container for projects and their respective tasks in content area section */
#content-area article {
    margin: 0.7em 0 3em 0;
}

/* container for project name and add task button within article elements */
.project-header {
    display: flex;
    justify-content: space-between;
}

/* container for project name and icon */
.name-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* applies to project names when they are part of an article element */
.project-header .name-wrapper {
    font-size: 1.4em;
}

/* button to add tasks within each project */
.task-add-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 1.8em;
    border: 0.1em solid rgb(35, 163, 248);
    transition: transform 0.4s;
}

.task-add-btn:hover {
    transform: rotate(90deg) scale(1.2);
}

/* lists of tasks within each project */
#content-area ul {
    margin-top: 1em;
}

/* create right indentation for all task-related containers in content area */
#content-area ul,
#new-task-container {
    margin-right: 3em;
}

/* common features applicable to task containers when task is either displayed
or is being edited */
.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8em 0;
    color: black;
    padding: 0.7em 1em;
}

/* hide name of task when took long */
.task-wrapper .left {
    overflow: hidden;
}

/* right side of task wrapper */
.task-wrapper .right {
    gap: 1em;
}

/* name of task when task is displayed */
.task-label {
    margin-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* features specific to task containers when a task is being edited */
.edit-mode {
    padding: 0.5em 1em;
}

/* set common border style to all input elements and clear button on edit mode */
.edit-mode input,
#new-task-date-reset {
    border: 1px solid grey;
}

#new-task-name {
    padding: 0.2em 0.3em;
}

#new-task-due-date {
    padding: 0 0.5em;
}

#new-task-date-reset {
    margin-left: 0.5em;
    padding: 0 0.4em;
}

#new-task-date-reset:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/* container for flag icons */
#new-task-priority-wrapper {
    /* set height equal to container height instead of content height to fix 
    jumping effect that occurs when container height briefly changes upon 
    priority change */
    align-self: stretch;
    display: flex;
    align-items: center;
}

/* hide default radio input */
input[type="radio"] {
    display: none;
}

/* when one of the radio input elements is selected, slightly increase the size
of its corresponding flag */
input[type="radio"]:checked + i {
    font-size: 1.2em;
}

/* space out flags and smooth flag size change */
#new-task-priority-wrapper i {
    margin: 0 0.2em;
    transition: font-size 0.2s;
}

/* container for both circle and check mark */
.bullet-point {
    position: relative;
}

/* circle-shaped span element */
.check-circle {
    border: 1px solid black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

/* check mark to indicate a task is completed */
.check-mark {
    font-size: 0.8em;
    position: absolute;
    left: 1px;
    top: -1px;
    opacity: 0;
}

.check-mark:hover {
    opacity: 1;
}

.bullet-point:hover ~ .task-label {
    text-decoration: line-through;
    text-decoration-thickness: 0.2em;
}

.low-priority {
    color: green;
}

.medium-priority {
    color: orange;
}

.high-priority {
    color: red;
}

.task-edit-btn {
    color: rgb(35, 163, 248);
}

/*
 * Responsiveness
 */

/* tablet display */
@media (max-width: 1023px) {
    main {
        position: relative;
    }
    
    /* repositions side-bar to the right of page's main element, and on top of
    all other elements */
    #side-bar {
        z-index: 5;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.3s;
        width: 0;
        padding: 2em 0;
    }

    #side-bar.slide-in {
        width: 280px;
        padding: 2em 1em;
    }
    
    /* ensure hamburger */
    #hamburger-logo {
        display: block;
    }
}

/* standard mobile display */
@media (max-width: 767px) {
    body {
        font-size: 0.9em;
    }

    h1 {
        margin-left: 0.25em;
    }
    
    .primary-header {
        padding: 1em;
    }

    #content-area {
        background-size: contain;
    }

    /* let tasks take up 100 percent of window width */
    #content-area ul,
    #new-task-container {
        margin-right: 0;
    }

    /* remove excessive padding on the right of task wrapper */
    .task-wrapper {
        padding-right: 0.5em;
    }

    /* hide elements considered unnecessary on smaller displays */
    .regular-display {
        display: none;
    }

    /* hide hamburger logo to free up space when user is not logged in */
    .sign-out-btn.hide + #hamburger-logo {
        display: none;
    }

    .task-label {
        margin-left: 0.5em;
    }

    .edit-mode {
        gap: 0.5em;
    }

    .edit-mode button {
        padding: 0 0.25em;
    }

    #new-task-name {
        margin-right: auto;
        width: 100%;
        max-width: 250px;
    }

    /* remove default border */
    #new-task-due-date {
        border: none;
    }

    /* remove display of current selected date */
    #new-task-due-date::-webkit-datetime-edit {
        display: none;
    }

    #new-task-due-date::-webkit-calendar-picker-indicator {
        margin: 0;
    }
}

/* small mobile display */
@media (max-width: 319px) {
    /* hide due date and flag */
    .task-date,
    .priority-level {
        display: none;
    }

    .primary-header .site-btn {
        padding: 0.2em;
    }
}