/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 * Backgrounds
 */

/*
 * Buttons, links, and inputs
 */

button, a, input {
    font-family: inherit;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
}

/*
 * Navigation lists
 */

ul {
    list-style: none;
}

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

/* set website default font */
body {
    font-family: 'Sulphur Point', sans-serif;
    background-color: rgb(20, 47, 105);
    color: #fff;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(35, 163, 248);
    padding: 1em 2em;
}

.header-left-section,
.header-right-section {
    display: flex;
    align-items: center;
}

header i {
    font-size: 2em;
}

h1 {
    margin-left: 0.5em;
    font-size: 3em;
}

.auth-btn {
    font-size: 1.1em;
}

.sign-out-btn {
    display: flex;
    align-items: center;
}

.auth-btn.hidden {
    display: none;
}

.sign-out-btn button:hover {
    cursor: pointer;
}

#profile-pic {
    min-height: 20px;
    min-width: 20px;
    background-size: cover;
    border-radius: 50%;
}

#user-name {
    margin: 0 1.2em 0 0.5em;
}

#hamburger-logo {
    transition: transform 0.5s;
    font-size: 1em;
    display: none;
    margin-left: 1.5em;
}

#side-bar {
    background-color: white;
    width: 300px;
    float: left;
    padding: 2em 1em;
    overflow: auto;
}

#category-btns li {
    background-color: rgb(35, 163, 248);
    padding: 0.6em 1em;
    border-radius: 5px;
    margin-bottom: 0.7em;
}

#category-btns span {
    font-size: 1.2em;
    margin-left: 0.5em;
}

#category-btns li:hover {
    cursor: pointer;
    background-color: rgba(35, 163, 248, 0.733);
}

#side-bar h2 {
    margin: 1.4em 0 1em 0.8em;
}

#projects li {
    margin-bottom: 0.7em;
    transition: opacity 0.3s;
}

#projects span {
    margin-left: 0.4em;
    font-size: 1.2em;
}

#projects button {
    float: right;
    font-size: 0.9em;
    margin-top: 0.1em;
    transition: transform 0.3s;
}

#projects button:hover {
    color: rgb(177, 2, 2);
    transform: scale(1.2);
}

#add-project-container,
#projects li,
.auth-btn {
    padding: 0.6em 1em;
    border-radius: 5px;
    background-color: rgba(20, 47, 105);
}

#add-project-container:hover,
#projects li:hover,
.auth-btn:hover {
    cursor: pointer;
    background-color: rgba(20, 47, 105, 0.623);
}

#add-project-container span {
    margin-left: 0.6em;
    font-size: 1.2em;
    display: inline-block;
}

#add-project-input {
    border-radius: 5px;
    background-color: rgba(20, 47, 105);
    padding: 0.4em 0.6em;
    display: none;
}

#add-project-input input {
    border-radius: 5px;
    padding: 0.2em 0.5em;
    width: 81%;
    font-size: 1.2em;
}

#add-project-input i {
    font-size: 1.2em;
}

#project-validate,
#project-cancel,
#new-task-validate,
#new-task-cancel {
    margin-left: 0.7em;
    margin-top: 0.2em;
    height: 100%;
}

#project-validate:active,
#project-cancel:active,
#new-task-validate:active,
#new-task-cancel:active {
    transform: scale(0.8);
}

#new-task-validate,
#new-task-cancel {
    font-size: 1em;
}

#content-area {
    height: 85vh;
    padding: 1.5em;
    overflow: auto;
    background: url('../assets/images/background-logo.jpeg') no-repeat center;
    background-size: 40%;
}

#content-label {
    font-size: 2em;
}

.name-wrapper {
    display: flex;
    position: relative;
    margin-top: 2.5em;
}

.name-wrapper i {
    font-size: 1.4em;
}

.name-wrapper h3 {
    font-size: 1.4em;
    margin-left: 0.5em;
}

.task-add-btn {
    position: absolute;
    right: 0;
    top: -13px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 1.8em;
    border: 2px solid rgb(35, 163, 248);
    background-color: rgb(20, 47, 105);
    transition: transform 0.4s;
}

.task-add-btn:hover {
    transform: rotate(90deg) scale(1.2);
}

#content-area ul {
    margin-top: 2em;
    padding-right: 3em;
}

.task-wrapper,
#new-task-container {
    margin: 0.8em 0;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 0.7em 1em;
    position: relative;
    transition: opacity 0.3s;
}

#new-task-container,
#edit-task-container {
    margin-left: 2.5em;
    margin-right: 3em;
    padding: 0.05em 2em 0.05em 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-task-name {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.3em;
    font-size: 1em;
}

#new-task-due-date {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.1em 0.5em;
}

#new-task-date-reset {
    margin-left: 0.5em;
    padding: 0.2em 0.4em;
    border: 1px solid grey;
    border-radius: 5px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + i {
    transform: scale(1.3);
}

#new-task-priority-wrapper i {
    margin: 0.7em 0.2em;
}

.task-label {
    margin-left: 1em;
}

.check-circle {
    border: 1px solid black;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.check-mark {
    position: absolute;
    left: 1em;
    top: 0.5em;
    opacity: 0;
}

.check-mark:hover {
    opacity: 1;
}

.check-mark:hover ~ .task-label {
    text-decoration: line-through;
}

.task-date {
    position: absolute;
    right: 7em;
}

.priority-level {
    display: inline-block;
    position: absolute;
    right: 4em;
}

.low-priority {
    color: green;
}

.medium-priority {
    color: orange;
}

.high-priority {
    color: red;
}

.task-edit-btn {
    float: right;
    color: rgba(35, 163, 248);
}

@media (max-width: 1000px) {
    #main-container {
        position: relative;
    }
    
    #side-bar {
        z-index: 5;
        position: absolute;
        right: -300px;
        transition: transform 0.5s;
    }
    
    #hamburger-logo {
        display: inline-block;
    }

    #content-area {
        z-index: 1;
    }
}

@media (max-width: 630px) {
    header i {
        font-size: 1em;
    }
    
    h1 {
        font-size: 2em;
    }

    .auth-btn {
        transform: scale(0.8);
    }
    
    #new-task-container,
    #edit-task-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0.2em;
        padding-right: 0.2em;
        justify-content: space-evenly;
    }

    #new-task-due-date {
        width: 130px;
    }

    #new-task-name {
        width: 150px;
    }

    #new-task-validate,
    #new-task-cancel {
        margin-left: 0.3em;
    }
}
